.mainContainer{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*1-Header*/

header{
    background-color: #262626;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    color: white;
}

/*2-MiddleArea*/

.middleArea{
    width: 100%;
}

/*3-Footer*/

footer{
    width: 100%;
    margin-top: auto;
    background-color: #262626;
}

footer > p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}